$theme-colors: (
        "primary":#feb109,
        "secondary":rgba(1, 34, 80, 0.87)
);

$font-grey-color: #45484c;
$success-color: #6dcd01;

//Screen size
$xs-screen-size: 576px;
$md-screen-size: 820px;
$lg-screen-size: 992px;
$xl-screen-size: 1200px;

//Side Bar Pro
$sidebar-bg-color: #012250;
$sidebar-color: #ffffff;
$icon-bg-color: #313030 !default;
$highlight-color: #aba8a8;

// headers
$header-primary: #2c3e50;
$header-secondary: #34495e;

//content colors
$content-primary: #95a5a6;

//Button colors
$btn-bg-green: #23f15b;
$btn-bg-green-2: #2ecc71;

//Icon colors
$icon-red: #ee5253;

